.container{
    display: flex;
    margin: 10% 10% ;
    min-width: 100vh;
    flex-wrap: wrap;
}

.box{
    

    width: calc(33.33333% - 22px); /*20px marginden 2px borderdan*/
    margin: 10px;
    text-align: center;
    height: 10rem;
    text-align: center;
    border: black solid 1px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.html, body{
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}
