body{
    background-image: url(https://i.pinimg.com/originals/61/2b/8c/612b8c27f15c63c08052d8de2c1bb15b.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Pacifico', cursive;
    font-size: x-large;
}