html, body{
    background-image: url(https://img.freepik.com/free-photo/black-chalk-board-texture_89245-170.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    color: white;
    font-size: 20px;
}