body{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 30px;
}

.align{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.controls{
    display:grid;
    justify-items: start;
}

input{
    height: 10%;
    width: 200px;
}

img{
    margin-left: 20%;
}