body{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 30px;
}

.align{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.controls{
    display:grid;
    justify-items: start;
}

input{
    width: 200px;
}

img{
    margin-top: 1%;
}